.about {
@media(min-width: 320px){  
  display: flex;
  width: 100%;
  justify-content: center;
  opacity: 0;
  align-items: center;
  flex-direction: column-reverse;
  transition: 0.5s 0.75s all ease-in-out;
}
@media(min-width:568px){
  margin: 0 0 0 100px;
  flex-direction: row;
  padding: 10rem 0 10rem 8rem;

}
  &__section {
    @media(min-width:320px){
      width: 100%;
      padding: 2rem;
    }
    @media(min-width:568px){
      width: 40%;

    }
  }
  &__header {
    @media(min-width:320px){
      line-height: 4rem;
      padding: 0rem 0 1rem 0;
      margin: 4rem 0 4rem 0;
      border-bottom: solid $fourth-color 5px;
      font-size: 4rem;
      font-weight: 800;
    }
    @media(min-width:568px){
      
    }
  }
  &__paragraph {
    @media(min-width:320px){
      font-weight: 400;
      letter-spacing: 1.25px;
      line-height: 2rem;
      font-size: 1.25rem;
    }
  }
  &__image {
    height: 22rem;
    width: auto;
  }
}
.about {
  &__section__image {
    @media(min-width:320px){
      display: flex;
      padding: 2rem 0 2rem 0;
      justify-content: center;
      align-items: center;
      opacity: 0.65;  
    }
    @media(min-width: 568px){
      padding: 0 4rem 0 5rem;
      margin: 0 0 0 4rem;

    }
  }
}
