*, body{
    margin: 0;
    padding: 0 0 0 0rem;
    background-color: $primary-color;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    color: $third-color;
}
body {
    position: relative;
}