* {
  @media (min-width: 320px) {
    font-size: 55%;
  }
  @media (min-width: 400px) {
    font-size: 65%;
  }
  @media (min-width: 700px) {
    font-size: 70%;
  }
  @media (min-width: 1092px) {
    font-size: 100%;
  }
}
*,
body {
  margin: 0;
  padding: 0 0 0 0rem;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  color: $third-color;
}

body {
  @media (min-width: 320px) {
    height: auto;

    background-color: $primary-color;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    overflow-y: auto;
  }
}
body::-webkit-scrollbar {
  background-color: $primary-color;
  width: 0.9rem;
}

body::-webkit-scrollbar-track {
  border-radius: 0.9rem;
  -webkit-box-shadow: inset 0 0 6px $fifth-color;
}

body::-webkit-scrollbar-thumb {
  border-radius: 0.9rem;
  background-color: lighten($fifth-color, 5%);
}
