.form {
  &__wrapper {
    @media (min-width: 320px) {
      z-index: 100;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 0 2rem 0 2rem;
    }
    @media (min-width: 600px) {
      height: auto;
    }
    @media (min-width: 768px) {
      width: auto;

      margin: 0 0 0 100px;
    }
    @media (min-width: 968px) {
      justify-content: flex-start;
      padding: 0 0 0 3rem;
    }
    @media (min-width: 1400px) {
    }
  }
  &__section {
    @media (min-width: 320px) {
      width: 80%;
    }
    @media (min-width: 768px) {
      width: 40%;
    }
    @media (min-width: 968px) {
    }
  }
}

.form {
  @media (min-width: 320px) {
    box-shadow: 0px 0 6px 0px $primary-color;
    display: flex;
    padding: 5rem 0 5rem 0;
    flex-direction: column;
    border-radius: 0.75rem;
    background-color: $fifth-color;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
  @media (min-width: 568px) {
    width: 85%;
  }
  @media (min-width: 968px) {
    width: 70%;
  }
  @media (min-width: 1024px) {
    width: 85%;
    opacity: 0.85;
    padding: 4rem 0 4rem 0;
  }
  &__content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  &__heading {
    @media (min-width: 320px) {
      font-weight: 800;
      display: flex;
      padding: 4rem 0 4rem 0;
      color: $fourth-color;
      opacity: 0.85;
      justify-content: center;
      text-shadow: 1px 3px 2px rgba(255, 85, 85, 0.5);
      font-size: 3rem;
    }
    @media (min-width: 568px) {
    }
    @media(min-width: 1024px){
      padding: 0rem 0 2rem 0;
    }
  }
  &__button {
    font-weight: 800;
    color: $secondary-color;
    padding: 0.75rem 2rem 0.75rem 2rem;
    border-radius: 0.25rem;
    background-color: $fifth-color;
    border: solid $fourth-color 2px;
    box-shadow: 0 0 3px 0 $fourth-color;
    &:hover {
      transition: all ease-in-out 0.25s;
      background-color: $fourth-color;
      color: white;
      font-weight: 800;
      cursor: pointer;
    }
  }
}

.input {
  @media(min-width:320px){
    border: none;
    font-weight: 600;
    color: $third-color;
    background-color: $fifth-color;
    border-radius: 0.2rem;
    padding: 0 0 0 0.5rem;
    flex-grow: 1;
    font-size: 1.1rem;
  }
  @media(min-width: 568px){
    font-size: 1.25rem;
  }

  &:focus,
  &:target,
  &:visited {
    box-shadow: 0px 0px 8px 0px $third-color;
    outline: none;
  }
  &__message {
    height: 10rem;
    width: auto;
    resize: none;
    border: solid $fourth-color;
    display: flex;
    width: 100%;
    margin: 1rem 0 1.5rem 0;
    border-radius: 0.35rem;
    &:focus {
      border: solid $third-color;
      box-shadow: 0 0 5px 0 $secondary-color;
    }
  }
}
.input {
  &__container {
    display: flex;
    margin: 1rem 0 1rem 0;
  }
}
.icon {
  &__container {
    width: 100%;
    border-radius: 0.35rem;
    display: flex;
    box-shadow: 0 0 3px 0 $secondary-color;
    border: solid $fourth-color;
    &:target,
    &:focus,
    &:active {
    }
  }
}
.form__icon {
  border-right: solid $fourth-color;
  font-size: 1.5rem;
  color: $third-color;
  background-color: $fourth-color;
  padding: 0.5rem;
}
