.section__canvas{
    height: 100vh;
    border: solid orange;
    margin: 0 0 0 100px;

}
#canvas {
    height: 100vh;
    background-color: $primary-color;
    width: 100vh;
    border: solid red;
}