.all__projects {
  @media (min-width: 320px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 3rem 0 4rem;
    position: relative;
  }
  @media (min-width: 568px) {
    align-items: center;
  }
  @media(min-width: 768px){
    width: auto;
    margin: 0 0 0 100px;
  }
  @media(min-width: 1400px){
    margin: 0 0 0 200px;
    justify-content: space-around;
  }
  &__heading {
    @media (min-width: 320px) {
      line-height: 4rem;
      padding: 0rem 0 1rem 0;
      margin: 4rem 0 4rem 0;
      border-bottom: solid $fourth-color 5px;
      font-size: 4rem;
      font-weight: 800;
}
    @media (min-width: 568px) {
      font-size: 4rem;
    }
    @media(min-width: 768px){
      
    }

    @media(min-width: 968px){
    }
  }
}
