@media (min-width: 320px) {
  * {
    font-size: 55%;
  }
}
@media (min-width: 400px) {
  * {
    font-size: 65%;
  }
}

*,
body {
  margin: 0;
  padding: 0 0 0 0rem;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  color: #e7e7e7;
}

@media (min-width: 320px) {
  body {
    height: auto;
    background-color: #030014;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

body::-webkit-scrollbar {
  background-color: #030014;
  width: 0.9rem;
}

body::-webkit-scrollbar-track {
  border-radius: 0.9rem;
  -webkit-box-shadow: inset 0 0 6px #10101f;
}

body::-webkit-scrollbar-thumb {
  border-radius: 0.9rem;
  background-color: #191930;
}

@keyframes dissapear {
  0% {
    transition: all 0.5s cubic-bezier(0.57, 0.93, 0.78, -0.01);
    opacity: 0.9;
    transform: scale(1.1);
  }
  50% {
    transition: all 0.5s cubic-bezier(0.57, 0.93, 0.78, -0.01);
    transform: scale(0.9);
    opacity: 0.2;
  }
  75% {
    transition: all 0.5s cubic-bezier(0.57, 0.93, 0.78, -0.01);
    transform: scale(0.9);
    opacity: 0.1;
  }
  100% {
    transition: all ease-in-out 1s;
    transform: scale(1.1);
    opacity: 0.9;
  }
}
@keyframes groupone {
  0% {
    transform: scale(0.9);
    transition: all 0.5s cubic-bezier(0.57, 0.93, 0.78, -0.01);
    color: #ff5454;
    opacity: 0.9;
    opacity: 0.2;
  }
  50% {
    opacity: 0.55;
  }
  75% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.3;
  }
}
@keyframes small {
  0% {
    transition: all 0.5s cubic-bezier(0.57, 0.93, 0.78, -0.01);
    opacity: 0.9;
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
    transition: all 0.5s cubic-bezier(0.57, 0.93, 0.78, -0.01);
    opacity: 0.2;
  }
  75% {
    transform: scale(1.1);
    transition: all 0.5s cubic-bezier(0.57, 0.93, 0.78, -0.01);
    opacity: 0.1;
  }
  100% {
    transform: scale(0.9);
    transition: all 0.5s cubic-bezier(0.57, 0.93, 0.78, -0.01);
    opacity: 0.9;
  }
}
@keyframes medium {
  0% {
    opacity: 0.85;
  }
}
.navbar {
  display: flex;
  background-color: #030014;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  border-bottom: solid #10101f 2px;
  z-index: 500;
  transition: all ease-in-out 0.5s;
  height: 5rem;
  box-shadow: 0 0 15px 0 #10101f;
  opacity: 0.9;
}
.navbar__layer {
  display: none;
}
.navbar.toggled {
  height: 0px;
  transition: all ease-in-out 0.75s;
  opacity: 0;
}
.navbar.toggle2 {
  background-color: #030014;
  border: none;
  height: 4.5rem;
  box-shadow: none;
  transition: all ease-in-out 0.75s;
}
.navbar__logo {
  background-color: transparent;
  z-index: 50;
  height: 4rem;
  margin: 0 0 0 2rem;
  top: 0;
}
.navbar__logo__container {
  margin: 0 0 0 2rem;
  position: relative;
  display: flex;
  height: 100%;
  width: 40%;
}
.navbar__list {
  display: flex;
  list-style: none;
}
.navbar__anchortag {
  color: #ff5454;
  font-weight: 700;
  letter-spacing: 1.5px;
  font-size: 1.1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 0 0.5rem 0 0.5rem;
  text-decoration: none;
  z-index: 100;
  position: relative;
}
.navbar__anchortag::after {
  position: absolute;
  top: -100%;
  border: none;
  opacity: 0;
  left: 0;
  width: 0px;
  height: 3px;
  content: "";
  display: flex;
  opacity: 0;
  justify-content: center;
  align-self: flex-end;
  width: 0%;
}
.navbar__anchortag:hover::after {
  width: 100%;
  left: 2%;
  top: 100%;
  transition: all ease-in-out 0.5s;
  background-color: #e7e7e7;
  z-index: -40;
  opacity: 1;
}

@media (min-width: 320px) {
  .home {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 5rem 0 5rem 0;
    z-index: 500;
    justify-content: center;
    align-items: center;
    height: auto;
  }
}
@media (min-width: 568px) {
  .home {
    margin: 0 0 0 100px;
    height: 105vh;
  }
}
@media (min-width: 768px) {
  .home {
    justify-content: space-between;
    padding: 10rem 0 15rem 8rem;
  }
}
@media (min-width: 320px) {
  .home__left {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 3rem 0 3rem 0;
    justify-content: center;
    flex-direction: column;
  }
}
@media (min-width: 568px) {
  .home__left {
    align-items: flex-start;
    justify-content: flex-start;
    margin: 100px 0 0 0;
  }
}
@media (min-width: 320px) {
  .home__right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5rem 0 5rem 0;
  }
}
@media (min-width: 568px) {
  .home__right {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
    padding: 4rem 4rem 0 2rem;
  }
}

.home__text {
  font-size: 1.75rem !important;
  color: #e7e7e7;
  font-weight: 800;
  white-space: nowrap;
  border: solid orange;
  margin: 0.5rem 0 0 0;
}
@media (min-width: 320px) {
  .home__text.two {
    display: flex;
    margin: 0 0 0 -8rem;
    border: solid orange;
    flex-direction: column;
  }
}
@media (min-width: 320px) {
  .home__text__welcome {
    font-size: 2rem;
  }
}
.home__text__span {
  color: #ff3a3a;
  font-size: 4rem;
  font-weight: 800;
}
.home__text__span__portfolio {
  margin: 1.5rem 0 0 0;
  font-size: 4rem;
  border-radius: 0.35rem;
  box-shadow: 0 0 6px 0 #ff3a3a;
  border: solid #ff3a3a;
  padding: 1rem;
  color: #f4f4f4;
  font-weight: 800;
}

.superscript {
  font-size: 2rem;
  color: #ff3a3a;
  margin: -1rem 1rem 1rem 1rem -1rem;
  text-shadow: 1px 1px 2px #ff5454;
}

@media (min-width: 320px) {
  .sidebar {
    display: none;
  }
}
@media (min-width: 560px) {
  .sidebar {
    position: fixed;
    width: 100px;
    height: 100%;
    margin: 0 0 0 0;
    display: flex;
    top: 0;
    flex-direction: column;
    background-color: #030014;
    align-items: center;
    justify-content: flex-end;
    z-index: 20;
  }
}
.sidebar__icon {
  color: #ff5454;
  font-size: 1.75rem;
  margin: 0.75rem 0 0.75rem;
}
.sidebar__icon:hover {
  font-size: 2rem;
  color: #e7e7e7;
  transition: all ease-in-out 0.25s;
}
.sidebar__separator {
  background-color: #e7e7e7;
  box-shadow: 0 0 3px 0 #e7e7e7;
  height: 30%;
  margin: 1rem 0 1.5rem 0;
  width: 3.5px;
  display: flex;
  align-self: center;
}
.sidebar__anchortag {
  padding: 0.5rem;
  margin-bottom: 2rem;
  color: #ff3a3a;
  text-decoration: none;
}

.about__section.skills {
  transition: 0.5s 0.75s all ease-in-out;
  width: 100%;
  justify-content: space-around;
  display: flex;
}
.about__section__skills {
  flex-direction: column;
  margin: 0 0 0 100px;
  padding: 0rem 0 9rem 8rem;
  align-items: flex-start;
  display: flex;
  justify-content: center;
}
.about__section__skills__title {
  transition: 0.5s 0.75s all ease-in-out;
  width: 40%;
  margin: 4rem 0 6rem 0;
  border-bottom: solid #ff5454 4px;
  font-size: 3rem;
  line-height: 5rem;
  white-space: nowrap;
  font-weight: 700;
  padding: 2rem 0 2rem 0;
}

.about__icon {
  background-color: #030014;
  padding: 0 0.75rem 0 0.75rem;
  margin: 0 0 0 -5rem;
  font-size: 3rem;
}
.about__icon.tools {
  margin: 0 0 0 -5rem;
}

.about__skills {
  width: 40vh;
  background-color: #030014;
  border: solid #ff5454 3px;
  border-bottom: none;
  height: 60vh;
  position: relative;
}
.about__skills__title {
  margin: 0 1rem 0 1rem;
  position: absolute;
  top: -5%;
  z-index: 500;
  right: 20%;
  background-color: #030014;
}
.about__skills__heading {
  font-weight: 700;
  background-color: #030014;
  font-size: 1.15rem;
  padding: 1rem 0 1rem 0;
  position: absolute;
}
.about__skills__heading.frontend, .about__skills__heading.tools {
  top: 30%;
  left: -10%;
}
.about__skills__heading.backend {
  top: 30%;
  right: -10%;
}
.about__skills__list {
  letter-spacing: 1px;
  list-style: none;
}
.about__skills__list > li {
  margin: 0.25rem 0 0.25rem;
  font-size: 0.75rem;
  color: #e7e7e7;
}
.about__skills__list__container {
  background-color: #030014;
  position: absolute;
  bottom: 0;
  padding: 0.5rem 0 0.5rem;
}
.about__skills__list__container.frontend {
  left: -5%;
}
.about__skills__list__container.backend {
  text-align: right;
  right: -7%;
}
.about__skills__list__container.tools {
  left: -6%;
}

.hidden__component {
  opacity: 0;
}

.about__heading__span {
  color: #ff3a3a;
}

.about {
  display: flex;
  margin: 0 0 0 100px;
  padding: 10rem 0 10rem 8rem;
  width: 90%;
  display: flex;
  justify-content: flex-start;
  opacity: 0;
  transition: 0.5s 0.75s all ease-in-out;
}
.about__section {
  width: 40%;
}
.about__header {
  line-height: 4rem;
  padding: 0rem 0 1rem 0;
  margin: 0 0 4rem 0;
  border-bottom: solid #ff5454 5px;
  font-size: 4rem;
  font-weight: 700;
}
.about__paragraph {
  font-weight: 300;
  letter-spacing: 1.25px;
  line-height: 1.75rem;
}
.about__image {
  height: 22rem;
  width: auto;
}

.about__section__image {
  padding: 0 4rem 0 5rem;
  margin: 0 0 0 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.65;
}

.form__wrapper {
  display: flex;
  margin: 0 0 0 100px;
  padding: 10rem 0 10rem 8rem;
  height: auto;
}
.form__section {
  width: 40%;
}

.form {
  box-shadow: 0px 0 6px 0px #ff5454;
  display: flex;
  padding: 5rem 0 5rem 0;
  flex-direction: column;
  border-radius: 0.35rem;
  background-color: #10101f;
  justify-content: center;
  width: 85%;
  align-items: center;
}
.form__content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.form__heading {
  font-weight: 800;
  display: flex;
  padding: 4rem 0 4rem 0;
  color: #ff5454;
  opacity: 0.85;
  justify-content: center;
  text-shadow: 1px 3px 2px rgba(255, 85, 85, 0.5);
  font-size: 4rem;
}
.form__button {
  font-weight: 800;
  color: #ff3a3a;
  padding: 0.75rem 2rem 0.75rem 2rem;
  border-radius: 0.25rem;
  background-color: #10101f;
  border: solid #ff5454 2px;
  box-shadow: 0 0 3px 0 #ff5454;
}
.form__button:hover {
  transition: all ease-in-out 0.25s;
  background-color: #ff5454;
  color: white;
  font-weight: 800;
  cursor: pointer;
}

.input {
  border: none;
  padding: 0.5rem;
  font-weight: 600;
  color: #e7e7e7;
  background-color: #10101f;
  border-radius: 0.2rem;
  flex-grow: 1;
}
.input:focus, .input:target, .input:visited {
  box-shadow: 0px 0px 8px 0px #e7e7e7;
  outline: none;
}
.input__message {
  height: 15rem;
  width: auto;
  resize: none;
  border: solid #ff5454;
  display: flex;
  width: 100%;
  margin: 0 0 1rem 0;
  border-radius: 0.35rem;
}
.input__message:focus {
  border: solid #e7e7e7;
  box-shadow: 0 0 5px 0 #ff3a3a;
}

.input__container {
  border: solid red;
  display: flex;
  margin: 1rem 0 1rem 0;
}

.icon__container {
  width: 100%;
  border-radius: 0.35rem;
  display: flex;
  box-shadow: 0 0 3px 0 #ff3a3a;
  border: solid #ff5454;
}
.form__icon {
  border-right: solid #ff5454;
  font-size: 1.5rem;
  color: #e7e7e7;
  background-color: #ff5454;
  padding: 0.5rem;
}

.projects {
  height: auto;
  display: flex;
  width: 80%;
  flex-direction: column;
}
.projects__section {
  padding: 8rem 3rem 8rem 3rem;
  display: flex;
  background-color: #10101f;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0 0 12px 0px #ff5454;
  margin: 2rem 0 2rem 0;
  border-radius: 0.45rem;
}
.projects__title {
  font-weight: 800;
  letter-spacing: 1px;
  color: white;
  font-size: 4rem;
}
.projects__paragraph {
  margin: 0.5rem 2rem 0.5rem 0;
  color: #e7e7e7;
  font-size: 0.9rem;
  border-radius: 0.35rem;
  padding: 0.75rem;
  width: 90%;
  background-color: #030014;
  border: solid #030014;
  font-weight: 300;
  letter-spacing: 1.5px;
  line-height: 1.25rem;
}
.projects__header {
  width: 90%;
  border-bottom: solid #ff5454 4px;
  font-weight: 800;
  margin: 0rem 0 1rem 0;
  padding: 0 0 1.5rem 0;
  font-size: 3rem;
}
.projects__item {
  margin: 0.5rem 1rem 0.5rem 0rem;
  border-radius: 0.3rem;
  padding: 0.5rem;
  box-shadow: 0 0 4px 1px #10101f;
  background-color: #030014;
}
.projects__item__container {
  flex-wrap: wrap;
  display: flex;
  height: auto;
  margin: 1.5rem 0 1rem 0;
}
.projects__description {
  width: 45%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
}

.projects__section__image {
  width: 55%;
}

.projects__image {
  border-radius: 0.45rem;
  width: 100%;
  height: 100%;
}
.projects__icon {
  color: #ff3a3a;
  font-size: 2rem;
  margin: 0 1rem 0 0;
}

.projects__image__content {
  width: 100%;
  border-radius: 0.25rem;
  height: 100%;
}

.section__footer {
  display: flex;
  flex-direction: column;
  height: 60vh;
  margin: 0 0 0 100px;
  background-image: url("../images/footerbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  background-position: center center;
}
.section__footer__content {
  padding: 5rem 3rem 3rem 3rem;
}

.footer__divider {
  padding: 0.5rem;
  color: #f5f5f5;
  height: 40%;
  display: flex;
  align-items: baseline;
}
.footer__icon {
  width: 100%;
  justify-content: center;
  display: flex;
}
.footer__icon i {
  font-size: 1.5rem;
  margin: 0 0.5rem 0 0.5rem;
}
.footer__icon i:hover {
  padding: 0 0rem 0 0rem;
  color: #ff5454;
}
.footer__copyright {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.5rem;
}
.footer__copyright p,
.footer__copyright span {
  color: whitesmoke;
  font-size: 0.85rem;
}
.footer__links {
  align-items: center;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
}
.footer__links p {
  font-size: 0.75rem;
  color: whitesmoke;
}
.footer__links a {
  color: whitesmoke;
  text-decoration: none;
}
.footer__links a:visited {
  color: white;
}
.footer__about {
  padding: 0.5rem 0 0.5rem 0;
  color: white;
  display: flex;
  width: 100%;
  justify-content: center;
}

.footer__logo {
  width: auto;
  margin: -1rem 0 -1rem 0;
  height: 100%;
}
.footer__logo__container {
  align-items: flex-end;
  height: 8rem;
  display: flex;
  justify-content: center;
}

.heading__container__one {
  display: flex;
}
.heading__container__two {
  margin: 0 0 0 -2.25rem;
}
.heading__container__three {
  display: flex;
  flex-direction: column;
}

.heading__zero {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 2.5rem;
  font-weight: 800;
}
.heading__design {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  font-weight: 800;
}
.heading__two {
  font-weight: 800;
  font-size: 3rem;
  color: #e7e7e7;
  animation: dissapear infinite 5s ease-in-out;
  margin: 0 0 0 -2rem;
}
.heading__two__group__zero {
  font-size: 1rem;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  margin: 0 -0.5 0 -1rem;
  border: solid orange;
}
.heading__three {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 1.5rem;
  font-weight: 800;
}
.heading__four {
  font-weight: 800;
  font-size: 5rem;
}
.heading__five {
  writing-mode: vertical-rl;
  font-weight: 800;
  font-size: 1.2rem;
  text-orientation: mixed;
}
.heading__six {
  letter-spacing: 2px;
  writing-mode: vertical-rl;
  font-weight: 800;
  font-size: 2.15rem;
  text-orientation: mixed;
}

.development__container {
  display: flex;
}

.container__rotated__git {
  padding: 0 1rem 0 0.5rem;
  margin: 0 0 0 -1rem;
}
.container__rotated__node {
  display: flex;
}

.group__zero {
  white-space: nowrap;
  font-weight: 800;
}
.group__one {
  font-size: 1.15rem;
  padding: 0 0.5rem 0 0;
  font-weight: 400;
  writing-mode: vertical-rl;
  text-orientation: sideways;
}
.group__two {
  font-size: 1rem;
  font-weight: 400;
}
.group__three {
  writing-mode: vertical-rl;
  text-orientation: sideways;
  display: flex;
  font-weight: 800;
  font-size: 1.25rem;
}
.group__four {
  font-weight: 800;
  font-size: 0.9rem;
}
.group__six {
  font-size: 1.25rem;
  font-weight: 400;
}

.group__container {
  display: flex;
  margin: 0 0 0 -2rem;
}
.group__container__one {
  display: flex;
  justify-content: space-around;
}
.group__container__two {
  display: flex;
}
.group__container__three {
  padding: 0.5rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.group__container__four {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

#analytics {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-weight: 800;
  font-size: 2rem;
}

#web {
  font-size: 6rem;
  letter-spacing: 1.5px;
}

#python {
  font-size: 2rem;
  font-weight: 800;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

#mysql,
#postgresql,
#api,
#nodejs {
  font-weight: 700;
  font-size: 1.75rem;
}

.heading__zero,
.heading__three,
.heading__four,
.heading__design {
  animation: dissapear infinite 6s ease-in-out;
  color: #ff3a3a;
  opacity: 0.1;
  transition: all 3s ease-in-out;
}

#git,
#github,
#python {
  opacity: 0.1;
  animation: groupone infinite 5s ease-in-out;
}

.group__zero,
.group__one,
.group__two {
  opacity: 0.1;
  animation: small infinite ease-in-out 6s;
}

.group__three,
.group__four {
  opacity: 0.1;
  animation: dissapear infinite 3s ease-in-out;
}

.heading__four,
.heading__five {
  animation: dissapear infinite 10s ease-in-out;
  color: #ff3a3a;
  transition: all 0.5s cubic-bezier(0.57, 0.93, 0.78, -0.01);
  opacity: 0.1;
}

.group__five,
.group__six {
  animation: small infinite ease-in-out 6s;
}

.all__projects {
  margin: 0 0 0 100px;
  display: flex;
  padding: 8rem 0 5rem 8rem;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
.all__projects::after {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  content: "";
  top: 0;
  left: 0;
  background-size: cover;
  opacity: 0.1;
  background-attachment: fixed;
}
.all__projects__heading {
  width: 80%;
  margin: 0 0 5rem 0;
  padding: 2rem 0 2rem 0;
  font-size: 4rem;
  display: flex;
  width: 40%;
  line-height: 4rem;
  border-bottom: solid #ff5454 6px;
  font-weight: 800;
}

/*# sourceMappingURL=index.css.map */
