.navbar {
  background-color: #030014;
  padding: 1.75rem;
  display: flex;
  justify-content: flex-end;
}
.navbar__list {
  display: flex;
  list-style: none;
}
.navbar__anchortag {
  font-weight: 700;
  border: solid white 2px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 4px 0 #e7e7e7;
  color: #ff5454;
  margin: 0 0.5rem 0 0.5rem;
  text-decoration: none;
}

.home {
  display: flex;
  justify-content: center;
  z-index: 500;
  padding: 3rem;
  margin: 0 0 0 100px;
  height: 100vh;
  width: 80%;
}
.home__left {
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 3rem 0 0 3rem;
  flex-direction: column;
}

.home__text {
  font-size: 1.75rem !important;
  color: #e7e7e7;
  font-weight: 800;
  white-space: nowrap;
  margin: 0.5rem 0 0 0;
}
.home__text.two {
  display: flex;
  flex-wrap: wrap;
}
.home__text__span {
  color: #ff3a3a;
  font-size: 4rem;
  font-weight: 800;
}
.home__text__span__portfolio {
  margin: 1.5rem 0 0 0;
  font-size: 4rem;
  border-radius: 0.35rem;
  box-shadow: 0 0 6px 0 #ff3a3a;
  border: solid #ff3a3a;
  padding: 1rem;
  color: #f4f4f4;
  font-weight: 800;
}
.home__right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.myimage {
  height: 35rem;
  width: 35rem;
  transform: rotateZ(45deg) rotate3d(185deg);
}

*, body {
  margin: 0;
  padding: 0 0 0 0rem;
  background-color: #030014;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  color: #e7e7e7;
}

body {
  position: relative;
}

.sidebar {
  position: fixed;
  width: 100px;
  height: 100%;
  margin: 0 0 0 0;
  display: flex;
  top: 0;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  z-index: 75;
}
.sidebar__icon {
  color: #ff5454;
  font-size: 1.75rem;
  margin: 0.75rem 0 0.75rem;
}
.sidebar__separator {
  background-color: #e7e7e7;
  box-shadow: 0 0 3px 0 #e7e7e7;
  height: 30%;
  margin: 1rem 0 1.5rem 0;
  width: 3.5px;
  display: flex;
  align-self: center;
}
.sidebar__anchortag {
  padding: 0.5rem;
  margin-bottom: 2rem;
  color: #ff3a3a;
  text-decoration: none;
}

.about {
  display: flex;
  margin: 0 0 0 100px;
  padding: 0 0 0 4rem;
  width: 80%;
  justify-content: space-around;
}
.about__section {
  width: 45%;
}
.about__skills {
  border: solid #ff5454;
  height: 20rem;
  border-bottom: none;
  width: 20rem;
  position: relative;
}
.about__skills__title {
  margin: 0 1rem 0 1rem;
  position: absolute;
  top: -5%;
  right: 20%;
}
.about__skills__heading {
  font-weight: 700;
  font-size: 1.25rem;
  padding: 1rem 0 1rem 0;
  position: absolute;
}
.about__skills__heading.frontend {
  top: 50%;
  left: -10%;
}
.about__skills__heading.backend {
  top: 50%;
  right: -10%;
}

.about__header {
  line-height: 4rem;
  padding: 0rem 0 1rem 0;
  margin: 0 0 1.25rem 0;
  border-bottom: solid #ff5454 5px;
  font-size: 4rem;
  font-weight: 700;
}
.about__paragraph {
  font-weight: 300;
  letter-spacing: 1.25px;
  line-height: 1.75rem;
}
.about__icon {
  font-size: 3rem;
}

.myimagez {
  height: 25rem;
  opacity: 0.5;
}

/*# sourceMappingURL=index.css.map */
