@keyframes flicker {
  5%, 15%, 25%, 35%, 50%, 75%, 90% {
    color: $third-color;
    text-shadow: 0 0 20px 0 $third-color;
  }
  10%, 40%, 60% {
    color: $secondary-color;
  }
  
 }

.about {
  @media (min-width: 320px) {
    display: flex;
    width: 100%;
    justify-content: center;
    opacity: 0.8;
    align-items: center;
    padding: 0 2rem 0 2rem;
    flex-direction: column-reverse;
    transition: 0.5s 0.75s all ease-in-out;
  }
  @media (min-width: 568px) {
    align-items: center;
  }
  @media (min-width: 768px) {
    width: auto;
    align-items: flex-start;
    margin: 0 0 0 100px;
    flex-direction: row;
  }
  @media (min-width: 1400px) {
    padding: 5rem 3rem 10rem 4rem;
    margin: 0 0 0 200px;
  }
  &__section {
    @media (min-width: 320px) {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    @media (min-width: 568px) {
      align-items: center;
    }
    @media (min-width: 768px) {
      justify-content: center;
      align-items: flex-start;
    }
  }
  &__header {
   
    
    
    @media (min-width: 320px) {
      line-height: 4rem;
      padding: 0rem 0 1rem 0;
      margin: 4rem 0 4rem 0;
      border-bottom: solid $fourth-color 5px;
      font-size: 4rem;
      animation: flicker 5s linear infinite forwards;
      font-weight: 800;
    }
    @media (min-width: 768px) {
    }
    @media (min-width: 1024px) {
      border-radius: 0.35rem 0.35rem 0 0;
      z-index: 100;
      background-color: $fifth-color;
      margin: 2rem 0 2rem 0;
      padding: 1.5rem 2rem 1.5rem 2rem;

    }
  }
  &__paragraph {
    @media (min-width: 320px) {
      font-weight: 400;
      width: 100%;
      background-color: $fifth-color;
      letter-spacing: 1.25px;
      border-radius: 0.35rem 0.35rem 0 0;
      line-height: 2rem;
      font-size: 1.25rem;
      padding: 3rem;
    }
    @media (min-width: 968px) {
      font-size: 0.85rem;
      width: 100%;
      line-height: 1.5rem;
      border-bottom: solid $fourth-color;
      padding: 1.5rem 2rem 1.5rem 2rem;
      z-index: 100;
    }
    @media(min-width: 1440px){
    }
  }
  &__image {
    @media (min-width: 320px) {
      width: 22rem;
    }
    @media (min-width: 1400px) {
    }
  }
}
.about {
  &__section__image {
    @media (min-width: 320px) {
      display: flex;
      padding: 2rem 0 2rem 0;
      justify-content: center;
      align-items: center;
      opacity: 0.65;
    }
    @media (min-width: 600px) {
    }
    @media (min-width: 768px) {
      margin: auto;
      width: 50%;
      height: 100%;
    }
    @media (min-width: 968px) {
    }
    @media (min-width: 1400px) {
    }
  }
}
