.section__footer {
  @media (min-width: 320px) {
    display: flex;
    flex-direction: column;
    height: 60vh;
    background-image: url("../images/footerbg.png");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: flex-end;
    background-position: center center;
  }
  @media (min-width: 600px) {
    min-height: 70vh;
  }
  @media(min-width: 768px){

    margin: 10rem 0 0 100px;
  }
  @media(min-width: 1400px){
    margin: 10rem 0 0 200px;
  }

  &__content {
    @media (min-width: 320px) {
    }
    @media (min-width: 600px) {
    }
    @media(min-width: 700px){
      
    }
  }
}
.footer {
  &__divider {
    @media(min-width:320px){
      font-weight: 800;
      font-size: 1rem;
      margin: 0 0.5rem 0 0.5rem;
      align-items: baseline;  
    }
  }
  &__icon {
    width: 100%;
    justify-content: center;
    display: flex;
    & i {
      font-size: 1.5rem;
      margin: 0 0.5rem 0 0.5rem;
      &:hover {
        padding: 0 0rem 0 0rem;
        color: $fourth-color;
      }
    }
  }
  &__copyright {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0.5rem;
    & p,
    span {
      margin: 0 0.5rem 0 0.5rem;
      color: whitesmoke;
      font-size: 1rem;
    }
  }
  &__links {
    align-items: center;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    & p {
      font-size: 0.75rem;
      color: whitesmoke;
    }
    & a {
      @media (min-width: 320px) {
        color: $fourth-color;
        text-decoration: none;
        font-size: 1.25rem;
      }
      &:visited {
        color: $fourth-color;
      }
    }
  }
  &__about {
    @media (min-width: 320px) {
      font-size: 1rem;
      line-height: 2rem;
      padding: 0.5rem 0 0.5rem 0;
      color: white;
      display: flex;
      width: 100%;
      justify-content: center;
    }
    @media (min-width: 568px) {
    }
  }
}
.footer {
  &__logo {
    width: auto;
    margin: -1rem 0 -1rem 0;
    height: 100%;
  }
  &__logo__container {
    align-items: flex-end;
    height: 8rem;
    display: flex;
    justify-content: center;
  }
}
