.navbar {
 /*
  &::before{
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    display: flex;
    filter: blur(5px) brightness(1);
    content: '';
    height: 100%;
    width: 100%;
    opacity: 1;
  }
*/
  @media (min-width: 320px) {
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    border-bottom: solid $fifth-color 2px;
    width: 100%;
    transition: all ease-in-out 0.5s;
    height: 4.5rem;
    z-index: 100;
    box-shadow: 0 0 15px 0 $fifth-color;
    backdrop-filter: blur(12px);
    }
  @media (min-width: 768px) {
  }
  &__layer {
    position: relative;
    display: none;
  }
  &.toggled {

    height: 0px;
    transition: all ease-in-out 0.5s;
    opacity: 0;
  }
  &.toggle2 {
    height: 5rem;
    box-shadow: none;
    box-shadow: 0 0 7px 0 $third-color;
    transition: all ease-in-out 0.75s;
  }
  &__logo {
    background-color: transparent;
    z-index: 50;
    height: 4rem;
    margin: 0 0 0 2rem;
    top: 0;
    &__container {
      margin: 0 0 0 2rem;
      position: relative;
      display: flex;
      height: 100%;
      width: 40%;
    }
  }

  &__list {
    display: flex;
    list-style: none;

  }
  &__anchortag {
    color: $fourth-color;
    font-weight: 800;
    letter-spacing: 1.5px;
    z-index: 500;
    font-size: 1.25rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 0 0.5rem 0 0.5rem;
    text-decoration: none;
    position: relative;
    &::after {
      position: absolute;
      top: -100%;
      border: none;
      opacity: 0;
      left: 0;
      width: 0px;
      height: 3px;
      content: "";
      display: flex;
      opacity: 0;
      justify-content: center;
      align-self: flex-end;
      width: 0%;
    }
    &:hover::after {
      width: 100%;
      left: 2%;
      top: 100%;
      transition: all ease-in-out 0.5s;
      background-color: $third-color;
      opacity: 1;
  
    }
  }
}
