.navbar {
  display: flex;
  background-color: $primary-color;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  border-bottom: solid $fifth-color 2px;
  z-index: 500;
  transition: all ease-in-out 0.5s;
  height: 5rem;
  box-shadow: 0 0 15px 0 $fifth-color;
  opacity: 0.9;
  &__layer{
    display: none;
  }
  &.toggled{
    height: 0px;
    transition: all ease-in-out 0.75s;
    opacity: 0;
  }
  &.toggle2{
    background-color: $primary-color;
    border: none;
        height: 4.5rem;
    box-shadow: none;
    transition: all ease-in-out 0.75s;
  }
  &__logo {
    background-color: transparent;
    z-index: 50;
    height: 4rem;
    margin: 0 0 0 2rem;
    top: 0;
    &__container {
      margin: 0 0 0 2rem;
      position: relative;
      display: flex;
      height: 100%;
      width: 40%;
    }
  }

  &__list {
    display: flex;
    list-style: none;
  }
  &__anchortag {
    color: $fourth-color;
    font-weight: 700;
    letter-spacing: 1.5px;
    font-size: 1.1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    //border-radius: 0.2rem;
    //box-shadow: 0 0 4px 0 $third-color;
    margin: 0 0.5rem 0 0.5rem;
    text-decoration: none;
    z-index: 100;
    position: relative;
  &::after{
    position: absolute;
    top: -100%;
    border: none;
    opacity: 0;
    left: 0;
    width: 0px;
    height: 3px;
    content: '';
    display: flex;
    opacity: 0;
    justify-content: center;
    align-self: flex-end;
    width: 0%;
  }
  &:hover::after{
width: 100%;
left: 2%;
top: 100%;
    transition: all ease-in-out 0.5s;
    background-color: $third-color;
    z-index: -40;
    opacity: 1;
  }

  }

}
