.navbar {
 /*
  &::before{
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    display: flex;
    filter: blur(5px) brightness(1);
    content: '';
    height: 100%;
    width: 100%;
    opacity: 1;
  }
*/
  @media (min-width: 320px) {
    display: none;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    backdrop-filter: blur(8px);
    width: 100%;
    transition: all ease-in-out 0.5s;
    z-index: 200;
    box-shadow: 0 0 15px 0 $fifth-color;
  &::after{
    background-color: $fifth-color;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    display: flex;
    box-shadow: 0 0 3px 0 $primary-color;
    z-index: -1;
    opacity: 0.5;
  }  
  }
  @media (min-width: 768px) {
    display: flex;
  }

  &.toggled {
    opacity: 0;
    height: 0px;
    transition: all ease-in-out 0.5s;
  }
  &.toggle2 {
    opacity: 1;
    background-color: transparent;
    height: 5rem;
    box-shadow: none;
    transition: all ease-in-out 0.15s;
  }
  &__logo {
    background-color: $fifth-color;
    z-index: 50;
    height: 4rem;
    opacity: 0;
    margin: 0 0 0 2rem;
    top: 0;
    &__container {
      margin: 0 0 0 2rem;
      position: relative;
      display: flex;
      height: 100%;
      width: 40%;
    }
  }

  &__list {
    @media(min-width: 320px){
      display: none;
    }
    @media(min-width: 780px){
      display: flex;
      list-style: none;
  
    }

  }
  &__anchortag {
    color: $secondary-color;
    font-weight: 700;
    opacity:1;
    text-align: center;
    letter-spacing: 1.5px;
    font-size: 1.2rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 0 0.5rem 0 0.5rem;
    text-decoration: none;
    position: relative;
    &::after {
      position: absolute;
      left: 0;
      height: 3px;
      content: "";
      bottom: 0;
      display: flex;
      opacity: 0;
      justify-content: center;
      align-self: flex-end;
      width: 10%;
      background-color: $third-color;

    }
    &:hover::after {
      width: 85%;
      bottom: 0%;
      left: 3%;
      right: 0;
      transition: all ease-in-out 0.5s;
      background-color: $third-color;
      opacity: 1;
  
    }
  }
}
